.mainContainer {
  background: rgb(25, 47, 32);
  display: flex;
  justify-content: center;
  width: 100%;
}

.dataContainer {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  max-width: 700px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.bio {
  text-align: center;
  font-size: 22px;
  margin: 16px;
  color: white;
}

.waveButton {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  padding: 11px 0;
  width: 260px;
  align-self: center;
  font-weight: 600;
}

.connectWalletButton {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  padding: 11px 0;
  width: 260px;
  align-self: center;
  font-weight: 600;
  margin-top: 12px;
}

.waveText {
  background-color: #efefef;
  margin-top: 12px;
  padding: 6px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  resize: vertical;
}